.DS_Store
__pycache__/
pycache/
*.pyc
*.egg-info/
/crochet_intelligence/credentials/
/streamlit_secrets.toml
.vscode/
.idea/
.env
/pattern_translator/components/custom_upload/node_modules/
/pattern_translator/components/custom_cropper/node_modules/
/pattern_translator/components/plausible_event/node_modules/
